<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #siteTemplateForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="siteTemplate.id">{{l("EditSiteTemplate")}}</span>
                        <span *ngIf="!siteTemplate.id">{{l("CreateNewSiteTemplate")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                 


								<div class="form-group">
									<label for="SiteTemplate_Code">{{l("Code")}} *</label>
									<input type="text" id="SiteTemplate_Code" class="form-control" [(ngModel)]="siteTemplate.code" name="Code"     required/>
								</div>
					
								<div class="form-group">
									<label for="SiteTemplate_Description">{{l("Description")}}</label>
									<input type="text" id="SiteTemplate_Description" class="form-control" [(ngModel)]="siteTemplate.description" name="Description"    />
								</div>
					
								<div class="form-group">
									<label for="SiteTemplate_Notes">{{l("Notes")}}</label>
									<input type="text" id="SiteTemplate_Notes" class="form-control" [(ngModel)]="siteTemplate.notes" name="Notes"    />
								</div>
					

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!siteTemplateForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>