<div [@routerTransition]>
    <div class="m-subheader">
        <div class="d-flex align-items-center">
            <div class="mr-auto col-md-6">
                <h3 class="m-subheader__title m-subheader__title--separator">
                    <span>{{l("ContentFields")}}</span>
                </h3>
                <span class="m-section__sub">
                    {{l("ContentFieldsHeaderInfo")}}
                </span>
            </div>
            <div class="col-md-6 text-right">
				<button (click)="exportToExcel()" class="btn btn-outline-success"><i class="fa fa-file-excel"></i> {{l("ExportToExcel")}}</button>
                <button *ngIf="isGranted('Pages.ContentFields.Create')" (click)="createContentField()"
			class="btn btn-primary blue"><i class="fa fa-plus"></i> {{l("CreateNewContentField")}}</button>
            </div>
        </div>
    </div>
    <div class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body">

				<form class="horizontal-form" autocomplete="off">
                    <div class="m-form m-form--label-align-right">
                        <div class="row align-items-center m--margin-bottom-10">
                            <div class="col-xl-12">
                                <div class="form-group m-form__group align-items-center">
                                    <div class="input-group">
                                        <input [(ngModel)]="filterText" name="filterText" autoFocus class="form-control m-input" [placeholder]="l('SearchWithThreeDot')" type="text">
                                        <span class="input-group-btn">
                                            <button (click)="getContentFields()" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
						 <div class="row m--margin-bottom-10" [hidden]="!advancedFiltersAreShown">
						 	<div class="col-md-12">
						         <div class="m-separator m-separator--dashed"></div>
						     </div>


                            <div class="col-md-3">
                                <div class="form-group">
									<label for="MinProjectIdFilter">{{l("MinMax")}} {{l("ProjectId")}}</label>
									<div class="input-group">
                                        <input type="number" class="form-control" id="MinProjectIdFilter" [(ngModel)]="minProjectIdFilter" placeholder="{{l('MinValue')}}" name="minProjectIdFilter" />
                                        <input type="number" class="form-control" [(ngModel)]="maxProjectIdFilter" placeholder="{{l('MaxValue')}}" name="maxProjectIdFilter" />
									</div>
                                </div>
                            </div>
							<div class="col-md-3">
								<label for="FieldTypeFilterSelect">{{l("FieldType")}}</label>
								<select class="form-control" name="FieldTypeFilter" id="FieldTypeFilterSelect" [(ngModel)]="fieldTypeFilter">
								<option value="-1">{{l("All")}}</option>
																			<option value="1">{{l('Editable')}}</option>

										<option value="2">{{l('Readonly')}}</option>


								</select>
                            </div>
							<div class="col-md-3">
								<label for="ValueTypeFilterSelect">{{l("ValueType")}}</label>
								<select class="form-control" name="ValueTypeFilter" id="ValueTypeFilterSelect" [(ngModel)]="valueTypeFilter">
								<option value="-1">{{l("All")}}</option>
																			<option value="1">{{l('Text')}}</option>

										<option value="2">{{l('Image')}}</option>

										<option value="3">{{l('Script')}}</option>


								</select>
                            </div>
							<div class="col-md-3">
								<label for="LanguageFilterSelect">{{l("Language")}}</label>
								<select class="form-control" name="LanguageFilter" id="LanguageFilterSelect" [(ngModel)]="languageFilter">
								<option value="-1">{{l("All")}}</option>
																			<option value="1">{{l('English')}}</option>

										<option value="2">{{l('German')}}</option>

										<option value="3">{{l('Norwegian')}}</option>

										<option value="4">{{l('Finnish')}}</option>

										<option value="5">{{l('Swedish')}}</option>

										<option value="6">{{l('French')}}</option>

										<option value="7">{{l('Italian')}}</option>


								</select>
                            </div>
							<div class="col-md-3">
								<label for="ContentTypeFilterSelect">{{l("ContentType")}}</label>
								<select class="form-control" name="ContentTypeFilter" id="ContentTypeFilterSelect" [(ngModel)]="contentTypeFilter">
								<option value="-1">{{l("All")}}</option>
																			<option value="1">{{l('Offline')}}</option>

										<option value="2">{{l('Online')}}</option>


								</select>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="ValueFilter">{{l("Value")}}</label>
									<input type="text" class="form-control" id="ValueFilter" name="valueFilter" [(ngModel)]="valueFilter">
								</div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="TagsFilter">{{l("Tags")}}</label>
									<input type="text" class="form-control" id="TagsFilter" name="tagsFilter" [(ngModel)]="tagsFilter">
								</div>
                            </div>

                        </div>
                        <div class="row margin-bottom-10">
                            <div class="col-sm-12">
                                <span class="clickable-item text-muted" *ngIf="!advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-down"></i> {{l("ShowAdvancedFilters")}}</span>
                                <span class="clickable-item text-muted" *ngIf="advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-up"></i> {{l("HideAdvancedFilters")}}</span>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row align-items-center">
                    <!--<Primeng-Datatable-Start>-->
                    <div class="primeng-datatable-container"
                         [busyIf]="primengTableHelper.isLoading">
                        <p-table #dataTable
                                     (onLazyLoad)="getContentFields($event)"
                                     [value]="primengTableHelper.records"
                                     rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
                                     [paginator]="false"
                                     [lazy]="true"
                                     [scrollable]="true"
                                     ScrollWidth="100%"
                                     [responsive]="primengTableHelper.isResponsive"
                                     [resizableColumns]="primengTableHelper.resizableColumns">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width: 130px" [hidden]="!isGrantedAny('Pages.ContentFields.Edit', 'Pages.ContentFields.Delete')">{{l('Actions')}}</th>
                                    <th style="width: 150px" pSortableColumn="contentField.projectId">
                                        {{l('ProjectId')}}
                                        <p-sortIcon field="contentField.projectId"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="contentField.description">
                                        {{l('Description')}}
                                        <p-sortIcon field="contentField.description"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="contentField.fieldType">
                                        {{l('FieldType')}}
                                        <p-sortIcon field="contentField.fieldType"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="contentField.valueType">
                                        {{l('ValueType')}}
                                        <p-sortIcon field="contentField.valueType"></p-sortIcon>
                                    </th>
                                    <!-- <th style="width: 150px" pSortableColumn="contentField.language">
                                        {{l('Language')}}
                                        <p-sortIcon field="contentField.language"></p-sortIcon>
                                    </th> -->
                                    <th style="width: 150px" pSortableColumn="contentField.contentType">
                                        {{l('ContentType')}}
                                        <p-sortIcon field="contentField.contentType"></p-sortIcon>
                                    </th>
                                    <!-- <th style="width: 150px" pSortableColumn="contentField.value">
                                        {{l('Value')}}
                                        <p-sortIcon field="contentField.value"></p-sortIcon>
                                    </th> -->
                                    <th style="width: 150px" pSortableColumn="contentField.tags">
                                        {{l('Tags')}}
                                        <p-sortIcon field="contentField.tags"></p-sortIcon>
                                    </th>

                                </tr>
                            </ng-template>
							<ng-template pTemplate="body" let-record="$implicit">
                                <tr>
                                    <td style="width: 130px"
                                        [hidden]="!isGrantedAny('Pages.ContentFields.Edit', 'Pages.ContentFields.Delete')">
                                       <div class="btn-group dropdown" dropdown container="body">
                                            <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                <i class="fa fa-cog"></i><span class="caret"></span> {{l("Actions")}}
                                            </button>
												<ul class="dropdown-menu"  *dropdownMenu>
												<li>
													<a href="javascript:;"
														(click)="viewContentFieldModal.show(record)">{{l('View')}}</a>
												</li>
												<li>
													<a href="javascript:;" *ngIf="permission.isGranted('Pages.ContentFields.Edit')"
														(click)="createOrEditContentFieldModal.show(record.contentField.id)">{{l('Edit')}}</a>
												</li>
												<li>
											        <a href="javascript:;" *ngIf="permission.isGranted('Pages.ContentFields.Delete')"
														(click)="deleteContentField(record.contentField)">{{l('Delete')}}</a>
												</li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l('ProjectId')}}</span>
											{{record.contentField.projectId}}
										</td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l('Description')}}</span>
											{{record.contentField.description}}
										</td>
                                    <td style="width:150px">
										<span class="ui-column-title"> {{l('FieldType')}}</span>
										{{l('Enum_FieldType' +  fieldType[record.contentField.fieldType])}}
                                    </td>
                                    <td style="width:150px">
										<span class="ui-column-title"> {{l('ValueType')}}</span>
										{{l('Enum_FieldValueType' +  fieldValueType[record.contentField.valueType])}}
                                    </td>
                                    <td style="width:150px">
										<span class="ui-column-title"> {{l('Language')}}</span>
										{{l('Enum_Language' +  language[record.contentField.language])}}
                                    </td>
                                    <td style="width:150px">
										<span class="ui-column-title"> {{l('ContentType')}}</span>
										{{l('Enum_ContentType' +  contentType[record.contentField.contentType])}}
                                    </td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l('Value')}}</span>
											{{record.contentField.value}}
										</td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l('Tags')}}</span>
											{{record.contentField.tags}}
										</td>

                                </tr>
                            </ng-template>
                        </p-table>
						<div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{l('NoData')}}
                        </div>
                        <div class="primeng-paging-container">
                            <p-paginator rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
                                         #paginator
                                         (onPageChange)="getContentFields($event)"
                                         [totalRecords]="primengTableHelper.totalRecordsCount"
                                         [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                            </p-paginator>
                            <span class="total-records-count">
                                {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                            </span>
                        </div>
                    </div>
                    <!--<Primeng-Datatable-End>-->
                </div>
            </div>
        </div>
    </div>

    <createOrEditContentFieldModal #createOrEditContentFieldModal (modalSave)="getContentFields()"></createOrEditContentFieldModal>
    <viewContentFieldModal #viewContentFieldModal></viewContentFieldModal>

</div>